/* http://css-tricks.com/complete-guide-table-element/ */
tbody tr:nth-child(odd) {
  background: #eee;
}

/*.name{
  background-color: #fff;
}*/

#table{
  position: absolute;
          /*left: 0;*/
        /*right: 300px;*/
}

td, th {
  /*position: absolute;*/
	table-layout: fixed;

  /*width: 100%;*/
  height: 2rem;
  border: 2px solid #ccc;
  text-align: center;
  /*padding: ;*/
  /*spacing:10px;*/
}
th {
  background: blue;
  width: 100px;
  border-color: white;
}
body {
  /*position: relative;*/
  padding: 2rem;
  opacity: 1;
}
